*{
    margin:0px;
    padding:0px;
}
/* Navigation section style */
nav{
    display: flex;
    background-color: #5c5c5c;
    justify-content: space-around;
    height: 10vh;
    align-items: center;

}
nav ul{
    display: flex;
    list-style: none;
    gap:30px;
}
nav ul li a{
    text-decoration: none;
    color:white;
    font-size: 18px;
    font-weight: 700;
}
nav ul li a:hover{
    color:rgb(255, 22, 6);
}
/* Banner section style */
.banner-container{
    height: 100vh;
    background-image: url('../asset/image/background.jpg'), linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.3));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat:no-repeat ;
    background-size: cover;
}