*{
    margin:0px;
    padding:0px;
}
/* Navigation section style */
nav{
    display: flex;
    background-color: #5c5c5c;
    justify-content: space-around;
    height: 10vh;
    align-items: center;

}
nav ul{
    display: flex;
    list-style: none;
    gap:30px;
}
nav ul li a{
    text-decoration: none;
    color:white;
    font-size: 18px;
    font-weight: 700;
}
nav ul li a:hover{
    color:rgb(255, 22, 6);
}
/* Banner section style */
.banner-container{
    height: 100vh;
    background-image: url('../asset/image/background.jpg'), linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.3));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat:no-repeat ;
    background-size: cover;
    display: flex;
    align-items: center;
    
    
}
.banner-content{
    
    text-align: center;
    color:white;
    position: absolute;
    left: 50px;
    width: 1000px;
}
.banner-title{
    font-size: 54px;
    font-weight: bold;
    width: 500px;
    text-align: center;
    margin-left: 300px;
    margin-bottom: 20px;

}
.banner-title span{
    color:red;
}
.banner-description{
    width: 600px;
    margin-left: 220px;
    margin-bottom: 20px;
    font-size: 16px;
}
.banner-btn{
    border: none;
    padding: 15px 25px ;
    background-color: orangered;
    border-radius:5px;
    margin-right: 20px;
   
    
}
.banner-btn a{
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
}
.btn-hire-us{
    background-color: white;
    
}
.btn-hire-us a{
    color:black;
    
}